{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "execution-abort-modal"}}
<div class="modal fade" id="execution-abort-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Abort Execution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>{{T "Do you really want to abort the current execution?" .}}</p>
                <p>{{T "No results will be saved!" .}}</p>
            </div>
            <div class="modal-footer">
                <button id="buttonAbortConfirm" type="button" class="btn btn-danger" data-dismiss="modal">{{T "Abort" .}}</button>
                <button id="buttonClose" type="button" class="btn btn-secondary" data-dismiss="modal">{{T "Continue" .}}</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>
{{end}}