{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "modal-signin"}}
<!-- Signin-Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signin-modal-label">{{T "Sign in" .}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signin" action="/signin" class="form-signin">
                    <div id="formEmail" class="form-group">
                        <label for="inputEmail" class="sr-only">{{T "Username or E-mail" .}}</label>
                        <input type="text" id="inputEmail" class="form-control" oninput="clearErrors()"
                               placeholder="{{T "Username or E-mail" .}}" required autofocus>
                    </div>
                    <div id="formPassword" class="form-group">
                        <label for="inputPassword" class="sr-only">{{T "Password" .}}</label>
                        <input type="password" id="inputPassword" class="form-control rounded" oninput="clearErrors()"
                               placeholder="{{T "Password" .}}" required aria-describedby="passwordHelpBlock">
                        <span id="passwordFeedback" class="form-control-feedback"></span>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{T "Sign In" .}}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Import Scripts here -->
<script>

</script>
<script src='/static/js/modal/sign-in.js'></script>
{{end}}